.card-produk .card-footer {
    overflow: hidden !important;
}

@media (min-width: 992px) {
    .card-produk .card-footer {
        width: 100%;
        height: 5px;
        transition: all .36s;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .card-produk:hover .card-footer {
        height: 37.6px;
    }
}

.swiper-produk .card-produk .card-footer {
    display: none !important;
}

/*harga produk*/
.harga-produk .harga-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

/*card produk stok habis*/
.card-produk.stok-habis>a,
.card-produk.stok-habis .card-footer>.btn {
    pointer-events: none;
}

.card-produk .wording-stok-habis {
    display: none;
}

.card-produk.stok-habis .wording-stok-habis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-produk.stok-habis .card-footer {
    height: 5px;
}