/*============================ custom range slider*/
.noUi-horizontal,
.noUi-connect {
	height: 8px !important;
}

.noUi-target {
	border-radius: 4px !important;
	background-color: #b4b4b4 !important;
	border: solid 0 transparent !important;
}

.noUi-handle {
	top: -8px !important;
	right: -12px !important;
	width: 24px !important;
	height: 24px !important;
	border-radius: 12px !important;
	background-color: #565656 !important;
	cursor: pointer !important;
	box-shadow: none !important;
	border: solid 2px white !important;
}

.noUi-handle::before,
.noUi-handle::after {
	display: none !important;
}

.noUi-connect {
	background-color: #656565 !important;
}