html,
body {
    font-family: 'HelveticaNeue', sans-serif;
    /* color: #fd4f00; */
    color: #565656;
}

.bg-light {
    background-color: #f2f2f2 !important;
}

.bg-dark {
    background-color: #565656 !important;
}

.bg-secondary {
    background-color: #a6a6a6 !important;
}

.fs-reset {
    font-size: inherit !important;
}

main.wrapper {
    padding-top: calc(5rem + 1vw);
}

main.wrapper>section {
    margin-bottom: calc(5rem + 1vw);
}


/*============================ custom button*/
.pagination .page-link {
    color: #565656;
}

.pagination .page-item.active .page-link {
    background-color: #565656;
    color: white;
}

.pagination .disabled {
    opacity: .25 !important;
}


/*============================ custom button*/
.btn-dark {
    border-color: #565656 !important;
    background-color: #565656 !important;
    color: #f2f2f2 !important;
}


/*============================ custom placeholder*/
input,
.form-check-label {
    color: inherit !important;
}

input::placeholder {
    color: inherit !important;
    opacity: .5 !important;
}


/*============================ custom list vr*/
ul.list-vr li {
    position: relative;
}

ul.list-vr li::before {
    content: '';
    width: 1px;
    height: 50%;
    background-color: rgba(0, 0, 0, .25);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

ul.list-vr li:last-of-type::before {
    opacity: 0;
}


/*============================ custom card produk*/
@media (min-width: 992px) {
    .card-produk .card-footer {
        width: 100%;
        height: 5px;
        overflow: hidden;
        transition: all .36s;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .card-produk:hover .card-footer {
        height: 37.6px;
    }
}

/*harga produk*/
.harga-produk .harga-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

/*card produk stok habis*/
.card-produk.stok-habis>a,
.card-produk.stok-habis .card-footer>.btn {
    pointer-events: none;
}

.card-produk .wording-stok-habis {
    display: none;
}

.card-produk.stok-habis .wording-stok-habis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-produk.stok-habis .card-footer {
    height: 5px !important;
}


/*============================ custom checkbox & radios*/
.form-check {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-transform: capitalize;
}

.form-check-input {
    background-color: #e4e4e4;
    border-color: #e4e4e4;
    --bs-form-check-bg-image: none !important;
    ;
    width: 14px;
    height: 14px;
    margin-top: 0;
}

.form-check-input:checked {
    background-color: #565656;
    border-color: #565656;
}

.form-check-label {
    padding: 0 .5rem;
}